@font-face {
    font-family: Figtree;
    src: url(/static/fonts/Figtree.ttf);
    font-display: swap;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Figtree, sans-serif;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

body{
    font-family: SuisseReg, sans-serif;
    overflow-x: hidden;
    background-color: #000000;
    color: white;
    font-size: 20px;
}

main{
    width: 100%;
    margin-top: -20px;
    height: 95vh;
    background-position: 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,.4) 50%,#000),url(https://assets.wander.com/328556002641182724/2440.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 90%;
    padding-bottom: 200px;
}

.propertyImagesContainer{
    display: flex;
    width: 100%;
    height: 550px;
    gap: 25px;
    justify-content: space-between;
}

.propertyImageMain{
    width: 68%;
    border-radius: 20px;
    height: 550px;
    background-image: url(https://assets.wander.com/328556002641182724/2440.webp);
    background-size: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.propertyImagesContainerSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    position: relative;
}

.propertyImage{
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.propertyImageButton{
    position: absolute;
    bottom: 20px;
}


.propertyInfoContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.propertyInfoMain{
    flex-direction: column;
    flex-shrink: 0;
    width: 68%;
    gap: 10px;
}

.propertyLocation{
    font-size: 20px;
    opacity: 80%;
    font-weight: 300;
    letter-spacing: 1.5px;
  }


.propertyName{
    font-size: 60px;
    font-weight: 500;
  }
  

.propertyAmenitiesContainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 10px;
    margin-top: 10px;
}

  .propertyStats{
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
.statsIcon{
    color: rgb(153 153 153);
    opacity: 80%;
    font-size: 18px;
  }

.propertyInfoSide{
    background-color: rgb(22, 22, 22);
    width: 100%;
    margin-left: 25px;
    border-radius: 25px;
    height: 500px;
    border: 1px solid rgb(64 64 64);
    padding: 20px;
    text-align: center;
}

.bookingTitle{
    font-weight: 400;
    font-size: 30px;
}

.propertyInfoSelector {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey; /* Continuous underline */
    justify-content: space-between;
}

.propertySelector {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/* Hover effect removed from propertySelector */
.selectorIcon {
    color: rgb(153, 153, 153);
    opacity: 80%;
    font-size: 20px;
}

/* Animated underline */
.hoverLine {
    position: absolute;
    bottom: -1px; /* Align with bottom border */
    left: 0;
    height: 1px;
    width: 50px; /* Default width */
    background-color: black;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}


.hoverLine {
    background-color: white; /* Change color when hovered */
}


.propertySelector:hover ~ .hoverLine {
    transform: translateX(var(--move-x));
    width: var(--width);
}

.propertySelectedInfoContainer{
    padding-top: 40px;
    padding-right: 40px;
}

.propertyOverviewDescription{
    color: rgb(204 204 204);
    font-size: 22px;
}

.propertyOverviewDescriptionBanner{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(26 26 26);
    border: 1px solid rgb(64 64 64);
    padding: 30px;
    display: flex;
    border-radius: 15px;
    gap: 25px;
    align-items: center;
}

.bannerIcon{
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(255, 166, 0);
}
.mapboxgl-ctrl-logo,.mapboxgl-ctrl-icon,.mapboxgl-ctrl-attrib-button,.mapboxgl-ctrl {
    display: none !important;
}

.bannerTextContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bannerBottomContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.locationContainer,.reviewContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.reviewTitle,.locationTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}

.reviewContainerInner,.locationContainerInner{
    display: flex;
    flex-direction: column;
    background-color: rgb(26 26 26);
    border: 1px solid rgb(64 64 64);
    height: 250px;
    border-radius: 15px;
    padding: 20px 15px;
    justify-content: space-between;
}

.locationIcon,.reviewIcon{
    color: rgb(153 153 153);
    opacity: 80%;
    font-size: 25px;
}

.reviewText{
    font-size: 20px;
    word-spacing: 2px;
}

.reviewUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewIcon{
    height: 30px;
    border-radius: 50%;
}

.reviewName{
    font-size: 18px;

}

.reviewButton{
    background-color: black;
    border: 1px solid rgb(64 64 64);
    padding: 5px;
    display: flex;
    gap: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.amenitiesOuterContainer{
    margin-top: 50px;
}

.amenPreTitle{
    color: rgb(204 204 204);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.amenTitle{
    font-weight: 500;
    margin-bottom: 15px;
}

.amenSubtitle{
    color: rgb(204 204 204);
}


.amenitiesContainer{
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
}

.amenityBox{
    background-color: #292929;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed rgb(64 64 64);
    width: 33.333%;
}

.amenityIcon{
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    opacity: 80%;
}

.addAmenitiesButton{
    padding: 30px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(64 64 64);
    border-radius: 15px;
}

.propertyDetailsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manageButton{
    padding: 10px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(64 64 64);
    border-radius: 15px;
    height: 50%;
    color:white;
    opacity: 100%;
}

.manageButton:hover{
    cursor: pointer;
}